%h1 About Us
.about_us
  %ul
    %li V-Mart Logistics was established in December 2007  to fill a niche in the marketplace by providing a very high level of customer service based upon it’s ‘Service standard’ document.
    %li V-Mart Logistics understand that clients require the very highest level of service, coupled with professionalism and a competitive rate structure. Many claim to provide all of these things but V-Mart Logistics was created specifically to achieve these aims.
    %li Through V-Mart’s worldwide network of representatives a competitive import &amp; export tariff and express service products have been developed covering a very wide range of products and destinations.
    %li V-Mart’s expert, qualified staff are able to handle a comprehensive list of products, ranging from specialist items such as blood samples, infectious materials &amp; dangerous goods through to delicate types of cargo such as electron tubes, computer equipment and pharmaceutical products.
    %li Many of our clients require a complete import / export management service and benefit from our expertise, plus pro active reporting &amp; tracking facilities. Letter of credit negotiation is a speciality.
    %li Direct computer links to Vietnam Customs and operators (both air &amp; sea) enable fast communications to track your consignments.
    %li V-Mart Logistics is an official member of networks and associations such as : FIATA, IATA, Vietnam Logistics Association, International / Global Logistics Networks, Vietnam Customs Broker Association.
    %li
      Professionalism is key to V-Mart’s success. Our slogan is
      %strong
        "Handling with heart"
= javascript_include_tag 'cufon-refresh'
