%h1 About Us
.about_us
  %ul
    %li V-mart Logistics was established in December 2006  to fill a niche in the marketplace by providing a very high level of customer service based upon it’s ‘Service standard’ document.
    %li V-mart Logistics understand that clients require the very highest level of service, coupled with professionalism and a competitive rate structure. Many claim to provide all of these things but V-mart Logistics was created specifically to achieve these aims.
    %li Through V-mart’s worldwide network of representatives a competitive import & export tariff and express service products have been developed covering a very wide range of products and destinations.
    %li V-mart’s expert, qualified staff are able to handle a comprehensive list of products, ranging from specialist items such as blood samples, infectious materials & dangerous goods through to delicate types of cargo such as electron tubes, computer equipment and pharmaceutical products.
    %li Many of our clients require a complete import / export management service and benefit from our expertise, plus pro active reporting & tracking facilities. Letter of credit negotiation is a speciality.
    %li Direct computer links to Vietnam Customs and operators (both air & sea) enable fast communications to track your consignments.
    %li Professionalism is key to V-mart’s success. Our slogan is "Handling with a heart"
