%fieldset
  %legend
    Airfreight
  %h1.orange_center
    Do it fastly
  .left
    %br
      Association with major airlines
    %br
      Finding best routing to ship cargo quickly
    %br
      Enhanced quality for Speed and Accuracy
    %br
      Assuring competitive price and one stop solutions
    %br
      Customized Delivery Solutions including DDU,
    .tab_format
      DDP service
  .left
    %img.service_page_image{:src => "airfreight.jpg"}

= javascript_include_tag 'cufon-replace'
