.bank_details
  %h1
    Bank Details

  %h3 1. The first bank information
  %ul
    %li Bank Name: VIETCOMBANK
    %li Address: 49 Doan Nhu Hai St, Ward 12, Ward 6, District 4, Ho Chi Minh City, Viet Nam
    %li Swift Code: BFTVVNVX018
    %li VND A/c No.: 018 137 239 6925
    %li USD A/c No.: 018 100 239 6878
    %li Beneficiary: V-MART CO., LTD
    %li Address: 115 C1 C/C P6, Tan Vinh Str., District 4, Ho Chi Minh City, Viet Nam

  %h3 2. The second bank information
  %ul
    %li Bank Name: ASIA COMMERCIAL BANK (ACB)
    %li Address: 442 Nguyen Thi Minh Khai St, Ward 6, District 3, Ho Chi Minh City, Viet Nam
    %li Swift Code: ASCBVNVX
    %li VND A/c No.: 34387369
    %li USD A/c No.: 34387239
    %li Beneficiary: V-MART CO., LTD
    %li Address: 115 C1 C/C P6, Tan Vinh Str., District 4, Ho Chi Minh City, Viet Nam
  = javascript_include_tag 'cufon-refresh'
