%h1
  Bank Details

%h3 1. The first bank information
%ul
  %li Bank Name: VIETCOMBANK
  %li Address: 49 Doan Nhu Hai St, Ward 12, District 4, Ho Chi Minh City, Viet Nam
  %li Swiftcode: BFTVVNVX018
  %li VND A/c No.: 018 100 239 6878
  %li USD A/c No.: 018 137 239 6925
  %li Benificiary: V-MART CO., LTD
  %li Address: 115 C1 C/C P.6, Tan Vinh Ward, District 4, Ho Chi Minh City, Viet Nam

%h3 2. The second bank information
%ul
  %li Bank Name: ASIAN COMMERCIAL BANK (ACB)
  %li Address: 442 Nguyen Thi Minh Khai St, District 3, Ho Chi Minh City, Viet Nam
  %li Swiftcde: ASCBVNVX
  %li VND A/c No.: 34387369
  %li USD A/c No.: 34387239
  %li Benificiary: V-MART CO., LTD
  %li Address: 115 C1 C/C P.6, Tan Vinh Ward, District 4, Ho Chi Minh City, Viet Nam
