.consign_shipment
  %h1 Consign a Shipment

  %h3 1. Shipment by Sea – Ex International Sea Ports to Vietnam Port

  %p Consignee details should be

  %p
    V-MART LOGISTICS CO., LTD
    %br
    115 C1, C/C P6, TAN VINH STR., WARD 6, DIST.4, HOCHIMINH CITY, VIETNAM.
    %br
    Tel: +84 8 3899 1136      FAX: +84 8 3899 1156
    %br
    PIC: Ms. Lucia

  %h3 2. Shipment by Air – Ex International Air Ports to Vietnam Air Ports

  %p Consignee details should be

  %p
    V-MART CO., LTD
    %br
    115 C1, C/C P6, TAN VINH STR., WARD 6, DIST.4, HOCHIMINH CITY, VIETNAM.
    %br
    Tel: +84 8 3899 1137      FAX: +84 8 3899 1156
    %br
    PIC: Ms. Susan
  %h2.orange_center THANKS SO MUCH FOR YOUR SUPPORT
= javascript_include_tag 'cufon-refresh'
