%fieldset
  %legend
    Consolidation &amp; Warehouse
  %h1.orange_center
    Cover all the world
  .left.margin-left
    %br
      Regular consol box to major hubs.
    %br
    Handle all cargoes to worldwide destinations
    %br
      via Vietnam main ports.
    %br
      Warehousing and distribution.
    %br
      Door to door service.
    %br
      Worldwide network of associates.
  .right
    = image_tag "services/consolidation_warehouse.jpg", :class => "service_page_image"
= javascript_include_tag 'cufon-refresh'
