%fieldset
  %legend
    Heavy Lift
  %h1.orange_center
    Do it safely
  .left
    %br
      Arranging and Booking for Special Equipments
    %br
      Transportation, loading and
    .tab_format
      unloading over dimensional and over weight cargo
    %br
      Project logistics end to end solutions
    %br
      Handling special equipment: flat rack, open top,...
    %br
      Handling power plant, oil & gas process plant,
    .tab_format
      and water treatment plant
  .left
    %img.service_page_image{:src => "heavy_lift.jpg"}
= javascript_include_tag 'cufon-refresh'
