%h1 Heavy Lift – Do it safely

%p
  Arranging and Booking for Special Equipments.
  %br
    Transportation, loading and unloading over dimensional and over weight cargo.
  %br
    Project logistics end to end solutions.
  %br
    Handling special equipment: flat rack, open top,...
  %br
    Handling power plant, oil & gas process plant, water treatment plant.
