%fieldset
  %legend
    Heavy Lift
  %h1.orange_center
    Do it safely
  .left
    %br
      Arranging and Booking for Special Equipments
    %br
      Transportation, loading and
    .tab_format
      unloading over dimensional and over weight cargo
    %br
      Project logistics end to end solutions
    %br
      Handling special equipment: flat rack, open top,...
    %br
      Handling power plant, oil &amp; gas process plant,
    .tab_format
      and water treatment plant
  .right
    = image_tag "services/heavy_lift.jpg", :class => "service_page_image"
= javascript_include_tag 'cufon-refresh'
