%h1
  About Us

%h3 1. Who are we?
%ul
  %li Organization - VMART LOGISTICS, Ho Chi Minh City (Saigon) based, servicing Viet Nam
  %li Functional area - Professional freight forwarding, Air &amp; Sea freight
  %li Area of strengths - Two directors, manage your requirements

%h3 2. Our history?
%ul
  %li Established - 2007
  %li Location - Ho Chi Minh City, Viet Nam
  %li Staff - 15 employees

%h3 3. Our strengths include?
%ul
  %li Customer interaction
  %li LFast-track your outcomes
  %li Strategic review process

%h3 4. Core deliverables?
%ul
  %li Customer service
  %li On-time in full
  %li Track &amp; trace

%h3 5. Our intent is to?
%ul
  %li Simplify the complexity of your freight forwarding requirements.

%h3 6. Membership ?
%ul
  %li As a member of FIFFAS
  %li As a member of FIATA
  %li As a member of VCCI
  %li As a member of VCBA
