%fieldset
  %legend
    News
  .news
    .picture.left
      = image_tag "news.jpg"
    .links.left
      %h3 Bangkok October 8th, 2010
      = link_to "Viffas Country Report", "/viffas_country_report.pdf", :target => "_blank"
= javascript_include_tag 'cufon-refresh'
