%fieldset
  %legend
    Pickup &amp; Delivery
  %h1.orange_center Do it just in time
  .left.margin-left
    %br
      Expert in local area.
    %br
      Owned truck and container lorry team.
    %br
      Finding best solution to delivery to customer’s door.
    %br
      Track and trace with GPRS.
  .right
    = image_tag "services/pickup_delivery.jpg", :class => "service_page_image"
= javascript_include_tag 'cufon-refresh'
