%fieldset
  %legend
    Pickup &amp; Delivery
  %h1.orange_center Do it just in time
  .left
    %br
      Expert in local area
    %br
      Owned truck and container lorry team
    %br
      Finding best solution to delivery to customer’s door
    %br
      Track and trace with GPRS
  .left
    %img.service_page_image{:src => "pickup_delivery.jpg"}
= javascript_include_tag 'cufon-refresh'
