%fieldset
  %legend
    Packing &amp; Removal
  %h1.orange_center
    Do it professionally
  .left
    %br
      Pressional packing and crating
    %br
      Stuffing and de-stuffing at customer’s location
    %br
      Quality control, labelling service
    %br
      Inventory management
  .right
    = image_tag "services/packing_removal.png", :class => "service_page_image"
= javascript_include_tag 'cufon-refresh'
