%fieldset
  %legend
    Seafreight
  %h1.orange_center
    Do it reasonably
  .left
    %br
      Customized LCL/FCL services
    %br
      Authorized Multimodal Transport Operator (MTO)
    %br
      Agents all over the world
    %br
      Close relationship with Shipping Lines
    %br
      Reasonable price to worldwide destinations
  .right
    = image_tag "seafreight.jpg", :class => "service_page_image"
= javascript_include_tag 'cufon-refresh'
