%fieldset
  %legend
    %h1 Services
  .container
    %img#services_link{:src => "assets/services.png"}
    %p In addition, we provide full range of logistics related service such as: apply import licence, test quality, Certificate of Origin...

