/*
 *= require_self
 *= require_tree .
 */
@import compass
@import 'sassy-buttons'
body
  margin: 0
  font-family: 'Helvetica Neue', Helvetica, sans-serif
  #logo
    float: left
  img.bg
    /* Set rules to fill background */
    min-height: 100%
    min-width: 1024px

    /* Set up proportionate scaling */
    width: 100%
    height: auto

    /* Set up positioning */
    position: fixed
    top: 0
    left: 0
    z-index: -1

  /* Specific to this particular image */
  @media screen and (max-width: 1024px)
    img.bg
      left: 50%
      /* 50% */
      margin-left: -512px

  li
    list-style: none
    margin-bottom: 5px
  #carousel
    width: 100%
    height: 404px
    text-align: center
    overflow: hidden
    #roundabout
      display: inline-block
      .image_bg
        background: url('/assets/slides/image4.png') no-repeat bottom center transparent
        width: 100%
        height: 30px
    .roundabout-holder
      width: 920px
      height: 384px
      margin: 0 auto
      .roundabout-moveable-item
        width: 700px
        height: 384px
        cursor: pointer
        padding-bottom: 10px
        img
          width: 100%
          height: 100%
          display: block
          vertical-align: top
          @include border-radius(10px)
        .info
          position: absolute
          width: 100%
          height: 74px
          margin-top: 0
          background: url(/assets/slides/bg_info.png)
          display: block
          font-size: 64px !important
          line-height: 60px
          left: 0
          @include border-radius(10px 10px 0 0)
  .container
    width: 960px
    margin: auto
    @include clearfix
    #content_surrogate
      height: 400px
      margin: 0px auto
      position: relative
      overflow: hidden
      padding: 20px
      .cargo_ship
        background: url("cargo_ship.png") no-repeat center
        display: none
        width: 960px
        height: 400px
        position: absolute
        left: -960px
    #content
      //@include box-shadow(0 0 10px 5px #2db5e1)
      @include clearfix
      position: absolute
      display: none
      background: url('box-tail.png') repeat transparent
      //@include linear-gradient(#74d3f3, #2db5e1)
      height: 400px
      //@include opacity(0.85)
      margin: auto
      color: #3C4346
      @include border-radius(15px)
      width: 880px
      padding: 40px 20px 20px 20px
      behaviour: url('ie_css3.htc')
      z-index: 10
      .close_btn
        width: 32px
        height: 32px
        position: absolute
        top: 0px
        right: 0px
        z-index: 30
        img
          cursor: pointer
      .ajax_content
        height: 400px
        width: 940px
        position: absolute
        overflow-y: auto
        overflow-x: hidde
        h1
          color: silver
        h2, h3
          color: #fa7121
        .orange_center
          color: orange
          text-align: center
    #nav_bar
      ul.nav_bar_container
        margin-top: 15px
        float: right
        @include clearfix
        @include border-radius(10px)
        background: orange
        padding: 0
        position: relative
        overflow: visible
        behaviour: url('ie_css3.htc')
        .nav_item
          margin: 0
          float: left
          background: url("/assets/menu_separator.png") right 0 no-repeat
          position: relative
          line-height: 20px
          >a
            display: block
            margin: 15px
            color: white
            font-size: 15px
            text-transform: uppercase
          >a.active
            color: #43A9FD
          &:hover
            .sub_menu
              top: 51px
            cursor: pointer
            >a
              color: #43A9FD
        .nav_item.last_item
          background: none
        .sub_menu
          position: absolute
          left: 0
          top: 51px
          padding: 0
          z-index: 300
          width: 200px
          .sub_menu_item
            background: orange
            border: 1px solid #DFE5E8
            width: 150px
            padding: 0px 5px
            margin-bottom: 1px
            margin-right: 5px
            @include border-radius(10px)
            position: relative
            float: left
            behaviour: url('ie_css3.htc')
            &:hover
              background: #32A7BF
            a
              color: white
              font-size: 12px
              padding: 7px
              margin: 3px 0px
              text-transform: uppercase
              text-decoration: none
              @include border-radius(12px)
              behaviour: url('ie_css3.htc')
              &:hover
                color: white
              >a.active
                color: white

legend
  font-size: 32px
  font-weight: bold
  color: white
.contact_map
  @include clearfix
  .contact_form_container
    width: 400px
    .field_row
      margin: 5px
      .label
        float: left
        width: 80px
        text-align: right
        padding: 10px
      input[type='text'], input#email, textarea
        width: 240px
        padding: 5px
        @include box-shadow(inset 0 0 10px #d1eaf7)
        @include border-radius(5px)
        border: 1px solid #32A7BF
        font-size: 120%
        behaviour: url('ie_css3.htc')
      input[type='submit']
        float: right
        @include sassy-button("shiny", 15px, 16px, #ff8a1a, #ff8a1a)
        behaviour: url('ie_css3.htc')
  .map
    width: 460px
    height: 350px
    margin-left: 20px
a
  text-decoration: none
  color: #1B5F9F
  &:hover
    color: #CB0202
.addresses
  .address
    width: 450px
    p
      font-size: 14px
.left
  float: left
.right
  float: right

#link_image
  height: 400px
  width: 400px
  @include border-radius(10px)
  behaviour: url('ie_css3.htc')

.useful_link
  font-size: 20px
  margin-top: 10px
  li
    @include clearfix
  img
    float: left
    margin-right: 5px
  a
    display: block
    padding-top: 5px
    float: left

fieldset
  @include border-radius(10px)
  behaviour: url('ie_css3.htc')

#download
  height: 60px
  margin-left: 30px

#services_link
  height: 400px
  width: 500px
  margin-left: 150px
  border: 20px

.sub_container
  width: 883px
  @include clearfix

#document_image
  height: 200px
  width: 200px
  @include border-radius(5px)
  behaviour: url('ie_css3.htc')


.invoice_link
  a
    font-size: 17px
li.none_style
  margin-bottom: 20px
  list-style: none
  @include clearfix
  .left
    margin-right: 20px

.left_relative
  left: 10px
  position: relative
.about_us
  ul
    li
      list-style: none
      margin: 10px
      strong
        color: red

.consign_shipment
  p
    margin-left: 30px
.services
  .service
    margin-left: 20px
    margin-right: 40px
    img
      width: 200px
      height: 150px

.news
  .links
    margin-left: 20px
    a
      font-size: 17px

.quote
  .field_row
    margin: 5px
    @include clearfix
    .label
      width: 250px
      float: left
      text-align: right
      margin-right: 10px
      padding-top: 10px
    input, textarea
      @include box-shadow(inset 0 0 10px #d1eaf7)
      @include border-radius(5px)
      border: 1px solid #32A7BF
      width: 500px
      padding: 5px
      font-size: 120%
      behaviour: url('ie_css3.htc')

    input[type='submit']
      float: right
      @include sassy-button("shiny", 15px, 16px, #ff8a1a, #ff8a1a)
      width: 200px
      margin-right: 100px
      margin-top: 30px
      behaviour: url('ie_css3.htc')

.service_page_image
  height: 400px
  width: 500px
  margin-left: 10px

.tab_format
  text-align: center

.tools
  div
    @include clearfix
    margin-left: 20px
    a
      text-decoration: none
      border: none
      img
        border: none
    img
      border: none
    .download
      margin-top: 100px

*
  outline: none

.cufon-replacing
  *
    visibility: visible !important
.copyright
  float: right
  font-size: 12px
  margin: 5px 30px 0 0
