/*
 *= require_self
 *= require_tree .
 */
@import compass
body
  background: url('background-orange.png') no-repeat center
  #logo
    position: absolute
    left: 100px
    bottom: 100px
  #container
    width: 960px
    margin: auto
    font-family: Helvetica, Helvetica, serif
    #content_surrogate
      height: 600px
      margin: 50px auto
      position: relative
      overflow: hidden
      padding: 20px
      .truck
        background: white
        display: none
        width: 960px
        height: 600px
        position: absolute
        left: -960px
    #content
      @include clearfix
      position: absolute
      display: none
      background: black
      height: 600px
      opacity: 0.85
      margin: auto
      color: silver
      @include border-radius(15px)
      width: 920px
      padding: 50px 20px 20px 20px
      z-index: 1000
      .ajax_content
        height: 560px
        width: 920px
        position: absolute
        overflow: auto
        h1
          color: silver
        h2, h3
          color: orange
      .close_btn
        background: white
        width: 30px
        height: 30px
        position: absolute
        top: 20px
        right: 20px
        z-index: 2000
    #nav_bar
      background: transparent
      float: right
      .sub_menu_container
        height: 85px
        overflow: hidden
        position: relative
        .sub_menu
          display: none
          position: absolute
          top: 0px
          left: 0px
          padding: 0px
          .sub_menu_item
            display: block
            a
              font-size: 12px
              padding: 7px
              margin: 3px 0px
              text-transform: uppercase
              text-decoration: none
              @include border-radius(12px)
              font-weight: bold
              display: block
              color: orange
              background: white
            a:hover
              background: black
              opacity: 0.8
              border: 1px solid white
      ul.nav_bar_container
        margin: 0
      .nav_item
        display: block
        float: left
        position: relative
        a.item
          font-size: 12px
          padding: 7px 10px
          text-transform: uppercase
          text-decoration: none
          color: white
          @include border-radius(12px)
          font-weight: bold
          margin-left: 10px
          display: block
          z-index: 1000
        .item.active, .item:hover
          color: orange
          background: white

.contact_form_container
  legend
    font-size: 35px
  .field_row
    margin: 10px
    .label
      float: left
      width: 100px
      text-align: right
      padding: 10px
    input[type='text'], input#email, textarea
      width: 200px
      padding: 10px
.address_container
  .address
    width: 200px
    a
      text-decoration: none
      color: gray
      h3
        color: orange
.left
  float: left
.right
  float: right
