/*
 *= require_self
 *= require_tree .
 */
@import compass
body
  background: url('background-orange.png') no-repeat center
  #container
    width: 960px
    margin: auto
    font-family: Helvetica, Verdana, Serif
    #logo
    #content_surrogate
      height: 600px
      margin: 50px auto
      position: relative
      overflow: hidden
      padding: 20px
      .truck
        background: white
        display: none
        width: 960px
        height: 600px
        position: absolute
        left: -960px
    #content
      @include clearfix
      position: relative
      position: absolute
      display: none
      background: black
      height: 600px
      opacity: 0.85
      margin: auto
      color: silver
      @include border-radius(15px)
      width: 920px
      padding: 50px 20px 20px 20px
      z-index: 1000
      .ajax_content
        height: 560px
        width: 920px
        position: absolute
        overflow: auto
        h1
          color: silver
        h2, h3
          color: orange
      .close_btn
        background: white
        width: 30px
        height: 30px
        position: absolute
        top: 20px
        right: 20px
        z-index: 2000
    #nav_bar
      background: transparent
      margin-top: 50px
      float: right
      .nav_item
        display: block
        float: left
        a
          font-size: 12px
          padding: 10px
          text-transform: uppercase
          text-decoration: none
          color: white
          @include border-radius(10px)
          font-weight: bold
          margin-left: 10px
        .active, a:hover
          color: orange
          background: white



.contact_form_container
  legend
    font-size: 35px
  .field_row
    margin: 10px
    .label
      float: left
      width: 100px
      text-align: right
      padding: 10px
    input[type='text'], input#email, textarea
      width: 200px
      padding: 10px
.left
  float: left
.right
  float: right
